@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: #06162b; */
  background-color: #06162b;
  background-image: linear-gradient(#091424 7px, transparent 7px),
    linear-gradient(90deg, #091424 7px, transparent 7px),
    linear-gradient(#091424 3.5px, transparent 3.5px),
    linear-gradient(90deg, #091424 3.5px, #06162b 3.5px);
  background-size: 175px 175px, 175px 175px, 35px 35px, 35px 35px;
  background-position: -7px -7px, -7px -7px, -3.5px -3.5px, -3.5px -3.5px;
}

h1,
h2,
p {
  text-align: center;
}

button,
input {
  outline: none;
}

.hero h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #46e9c6;
}

h2 {
  color: #46e9c6;
}

.hero p {
  color: #dbfff7;
}

.hero {
  margin-bottom: 4rem;
}

label {
  display: block;
  color: #dbfff7;
}

input:not([type="submit"]),
.cta {
  font-size: 1rem;
  border-radius: 3px;
}

input:not([type="submit"]) {
  width: 100%;
  border: none;
  background: #091b33;
  font-size: 1rem;
  color: #dbfff7;
  padding: 0.5rem;
  margin: 1rem 0;
}

input:not([type="submit"])::placeholder {
  color: #4f5c6b;
}

input:not([type="submit"]):focus,
input:not([type="submit"]):focus-visible {
  border: 1px solid #46e9c6 !important;
}

input[type="submit"] {
  margin-top: 1rem;
  margin-right: 0.8rem;
}

.form-group {
  margin-left: 1rem;
}

.form-group label {
  display: inline;
}

button {
  cursor: pointer;
}

.cta {
  width: 100%;
  border: none;
  padding: 1rem;
  background: #e94669;
  color: #fff;
  margin-top: 1rem;
}

.cta:hover {
  background: #d83357;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.text-btn {
  width: fit-content;
  border: none;
  padding: 0.5rem;
  background: none;
  font-weight: bold;
  color: #46e9c6;
}

.text-btn-secondary {
  color: #e94669;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

hr {
  max-width: 100px;
  margin: 2rem auto;
  border-top: 1px solid #ccc;
}

.container {
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 3rem 0;
}

.board {
  max-width: 450px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
  font-size: 3rem;
  text-transform: uppercase;
  color: #46e9c6;
}

.square-alternate {
  color: #e94669;
}

.board-3x3 {
  max-width: 450px;
}

.board-3x3 .square {
  width: calc(450px / 3);
  height: calc(450px / 3);
}

.board-3x3 .square:nth-child(-n + 3) {
  border-top: none;
}

.board-3x3 .square:nth-child(3n) {
  border-right: none;
}

.board-3x3 .square:nth-child(3n - 2) {
  border-left: none;
}

.board-3x3 .square:nth-child(n + 7) {
  border-bottom: none;
}

.board-5x5 {
  max-width: 500px;
}

.board-5x5 .square {
  width: calc(500px / 5);
  height: calc(500px / 5);
}

.board-5x5 .square:nth-child(-n + 5) {
  border-top: none;
}

.board-5x5 .square:nth-child(5n) {
  border-right: none;
}

.board-5x5 .square:nth-child(5n - 4) {
  border-left: none;
}

.board-5x5 .square:nth-child(n + 21) {
  border-bottom: none;
}

@media (max-width: 450px) {
  .container {
    padding: 1rem 0.5rem;
  }

  .square {
    font-size: 1.5rem;
  }

  .board-3x3 {
    max-width: 300px;
  }

  .board-3x3 .square {
    width: calc(300px / 3);
    height: calc(300px / 3);
  }

  .board-5x5 {
    max-width: 300px;
  }

  .board-5x5 .square {
    width: calc(300px / 5);
    height: calc(300px / 5);
  }
}

.choose-grid {
  display: flex;
  justify-content: center;
}

.choose-grid button:first-child {
  margin-right: 1rem;
}

.alert {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: #2ccc2c;
  background: #d0f8d0;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.alert-error {
  color: #fd3636;
  background: transparent;
  /* background: #ffdada; */
}

.capitalize {
  text-transform: uppercase;
}
