@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

h1,
h2,
p {
  text-align: center;
}

.hero h1 {
  margin-bottom: 1rem;
}

.hero {
  margin-bottom: 4rem;
}

label {
  display: block;
}

input:not([type="radio"]),
.cta {
  font-size: 1rem;
  border-radius: 3px;
}

input:not([type="radio"]) {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

input[type="radio"] {
  margin-top: 1rem;
  margin-right: 0.8rem;
}

.form-group {
  margin-left: 1rem;
}

.form-group label {
  display: inline;
}

.cta {
  width: 100%;
  border: none;
  padding: 0.5rem;
  background: cornflowerblue;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

hr {
  max-width: 100px;
  margin: 2rem auto;
  border-top: 1px solid #ccc;
}

.container {
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 3rem 0;
}

.board {
  max-width: 450px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 2px solid #000;
  background: transparent;
  cursor: pointer;
  font-size: 3rem;
  text-transform: uppercase;
}

.board-3x3 {
  max-width: 450px;
}

.board-3x3 .square {
  width: calc(450px / 3);
  height: calc(450px / 3);
}

.board-3x3 .square:nth-child(-n + 3) {
  border-top: none;
}

.board-3x3 .square:nth-child(3n) {
  border-right: none;
}

.board-3x3 .square:nth-child(3n - 2) {
  border-left: none;
}

.board-3x3 .square:nth-child(n + 7) {
  border-bottom: none;
}

.board-5x5 {
  max-width: 500px;
}

.board-5x5 .square {
  width: calc(500px / 5);
  height: calc(500px / 5);
}

.board-5x5 .square:nth-child(-n + 5) {
  border-top: none;
}

.board-5x5 .square:nth-child(5n) {
  border-right: none;
}

.board-5x5 .square:nth-child(5n - 4) {
  border-left: none;
}

.board-5x5 .square:nth-child(n + 21) {
  border-bottom: none;
}

@media (max-width: 450px) {
  .container {
    padding: 1rem 0;
  }

  .square {
    font-size: 1.5rem;
  }

  .board-3x3 {
    max-width: 300px;
  }

  .board-3x3 .square {
    width: calc(300px / 3);
    height: calc(300px / 3);
  }

  .board-5x5 {
    max-width: 300px;
  }

  .board-5x5 .square {
    width: calc(300px / 5);
    height: calc(300px / 5);
  }
}

.error {
  color: #e70000;
  margin-bottom: 1.5rem;
}

.choose-grid {
  display: flex;
  justify-content: center;
}

.choose-grid button:first-child {
  margin-right: 1rem;
}
